.home-top{
  position: relative;
  margin-top: 1.25rem;
  padding-top: 5rem;
  justify-content: center;
  align-items: center;
  background-image: url('zero-carbon-websites.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(245, 89, 89);
  padding-bottom: 0;
  height: 100vh;
  background-attachment: fixed;
  opacity:1;
}

.home-text{
  top: 40%;
  left: 10%;
  right: 8%;
  position: absolute;
  z-index: 10000;
  line-height: 1.6;
  text-align: justify;
  text-align-last: left;
}

.typewriter{
  font-size: 3.5rem;
  font-family: var(--font1);
  font-weight: 900;
}

@media only screen and (max-width:660px){
  .home-text{
    top: 35%;
    left: 10%;
    right: 10%;
    line-height: 1.6;
  }
}

.hometop-apply{
  width: 100%;
  padding: 1em 1em;
  background-color: var(--color-1-100);
  font-size: 2em;
}

.hometop-reg{
  font-variant: small-caps;
  padding-bottom: 1.875rem;
  text-align: center;
} 

.hometop-link1{
  margin-left: auto;
  margin-right: auto;
}

.hometop-link1btn{
  width: 50%;
  padding: 1rem 2rem;
 font-weight: 900;
  text-align: center;
  text-decoration: none;
  border-radius: 3.125rem;
  cursor: pointer;
  transition: 0.3s ease-out;
  font-size: 1.25rem;
  background-color: var(--color-4-100);
  color: white;
  
}

.hometop-link1btn:hover{
  color: var(--color-1-100);
    font-weight: 900;
    background-color: var(--color-6-100);

}

.hometop-link1btn:active
          {
              box-shadow: 1px 1px 1px 1px #e2564f;
              transform: translateY(2px);
          } 

.hometop-link1btn:focus {
            outline: none;
            box-shadow: 0 0 0 4px #e2564f;
            transition: 0.5s;
          }



@media only screen and (max-width:565px){
  .hometop-apply{
    padding: 1em 1em;
    margin-bottom: 0;
}
.hometop-link1btn{
  font-size: 0.4em;
  padding: 0.3125rem 0.625rem;
}
}


@media only screen and (max-width:660px){
  .typewriter{
    font-size: 1.5rem;
  }

  .hometop-reg{
    font-size: 1.3rem;
  }
}

@media only screen and (max-width:320px){
  .home-text-rec{
   top: 35%;
   left: 10%;
   right: 10%;
  }
}
@media only screen and (max-width:380px){
  .home-text{
    top: 35%;
    left: 10%;
    right: 10%;
  }
}
